<p id="notice"><%= notice %></p>

<h1>Tweeeets</h1>

<table>
  <thead>
    <tr>
      <th>Tweeeet</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweeeets.each do |tweeeet| %>
      <tr>
        <td><%= tweeeet.tweeeet %></td>
        <td><%= link_to 'Show', tweeeet %></td>
        <td><%= link_to 'Edit', edit_tweeeet_path(tweeeet) %></td>
        <td><%= link_to 'Destroy', tweeeet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tweeeet', new_tweeeet_path %>
